
/*출처 : https://3months.tistory.com/222 */
@font-face 
{ 
    font-family: 'NanumBarunGothic';
    src: url('../font/NanumBarunGothic.eot');
    src: url('../font/NanumBarunGothic.eot') format('embedded-opentype'),
    url('../font/NanumBarunGothic.woff') format('woff');
}


body {
    text-align: center;
    font-family: 'NanumBarunGothic', 'serif';
    background-color:rgba(236, 236, 236, 0.486);

}

ul{
    list-style: none;
}

#tab {
    width: 100%;
    padding: 0;
    
}

#tab>li>a {
    padding: 16px;
    background-color: gray;
    text-align: center;
    color: white;
    display: block;
    width: 150px;
}

#tab>li {
    display: inline-block;
    margin: 10px;
}

#tab>li>a:hover {
    background-color: rgb(167, 167, 167);
    font-weight: bolder;
}

header{
    position: relative;
    top:0;
    left:0;
    border:solid  rgba(158, 158, 158, 0.527);
}

section{

    padding:3% 3%;
    position: relative;
    top:0px;

    border:solid rgba(158, 158, 158, 0.527);
}
footer {
    position:relative;

    padding:20px;
    color: grey;
    border:solid rgba(158, 158, 158, 0.527);
}

.link{
    text-decoration: none;
}

footer a{
    color: grey;
}
.shadow_box {
    border-radius: 5px;
    box-shadow: 5px 5px rgba(148, 148, 148, 0.527);
}

.horizontal_line{

    color: cornflowerblue;
    background-color: cornflowerblue;
    height:2px;

}

.paragraph {
    width: 80%;
    text-align: justify;
    padding: 2% 5%;
    word-break: break-word;
    line-height: 32px;
}